:root{
  --aside-width : 200px;
  --main-width : calc(100% - var(--aside-width));
}

header{
  background-color: var(--primary-color);
  width: 100%;
  height: 100px;
}

main{
  display: flex;
  flex-direction: row;
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-color);
  width: var(--aside-width);
  height: 87vh;
}

.main{
  display: flex;
  flex-direction: column;
  width: var(--main-width);
  text-align: center;
}

.main h1{
  width: 100%;
  justify-self: center;
}

.column-do-jose{
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-columns: repeat(4, 150px);
  grid-column-gap: 80px;
  grid-row-gap: 110px;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: var(--third-color);
  height: 150px;
  width: 150px;
}

.nav-card{
  background-color: var(--forth-color);
  height: 150px;
  width: 150px;
}

.containers{
  background-color: var(--forth-color);
  width: 75px;
  height: 40px;
}
